*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
    background: url(/Frontend_Mentor/Challenge_08/img/background.jpg);
    background-size: cover;
    

}

.quiz_container{
    max-width: 100%;
    min-width: 500px;
    background-color: #ecf0f1;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0 , 0, 0.3);
    overflow: hidden;
    cursor:url("/Frontend_Mentor/Challenge_08/img/pika.png"),auto;
}
h2{
    margin: 0;
    text-align: center;
    padding: 1rem;
}
.quiz_header{
    padding: 2rem;
}

ul{
    list-style-type: none;
    padding: 0;
}
.select_option{
    padding-left:50px ;
}
button{
    background-color: #2980b9;
    border: none;
    width: 100%;
    height: 50px;
    color: white;
    font-size: 1rem;
    cursor:url("/Frontend_Mentor/Challenge_08/img/pika.png"),auto;
}
button:hover{
    background-color: #40a3e6;
    outline: none;
}

ul li{
    font-size: 1.2rem;
    margin: 1rem;
}
ul li label{
    cursor:url("/Frontend_Mentor/Challenge_08/img/pika.png"),auto;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}